DTE-2509-25V/
sql/ 
oblig3/
eventHub(oblig5)/pensum.ipynb
eventHub(oblig5)/oblig5.mwb.bak
eventHub(oblig5)/.env
eventHub(oblig5)/__pycache__/
eventHub(oblig5)/models/__pycache__/
eventHub(oblig5)/routes/__pycache__/
eventHub(oblig5)/oblig5.mwb