{% extends "base.html" %}
{% block content %}


<div class="container text-center mt-5">
    <h2 class="mb-4">All upcoming events</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Place</th>
                <th>Time</th>
                <th>Event Manager</th>
                <th>More info</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.time }}</td>
                <!-- Access the corresponding manager. Knowing correct index by looking at home() function-->
                <td>{{ event_managers[loop.index0].s_name + " " + event_managers[loop.index0].l_name }}</td>
                <td><a href="{{url_for('event.event_info', event_id=event.id)}}" class="btn btn-secondary btn-sm">Info and Registration</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}