{% extends "base.html"  %}
{% block title %} Index page {% endblock %}

{% block content %}
    <h1>  Hello World</h1>
    <p> {{ myvalue }}</p>
    <p> {{ myresult }} </p>  
    <ul>
        <!-- Loop through each item in mylist -->
         <!-- use for if  statments osv -->
        {% for item in mylist %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>   
    <p> {{ mylist }} </p>
    <!-- This is dynamicly setting the correct other route? -->
    <a href="{{ url_for('other') }}">Other</a>    
{% endblock %}