{% extends "base.html" %}
{% block content %}
    <h1>Flask</h1>
    <div class="info-container">
        <div class="info-box">
            <h2>Hovedtrekk ved Flask</h2>
            <ul>
                <li>Flask kan lett utvides med eksterne moduler og biblioteker 
                    for databasehåndtering, autentisering m.m.</li>
                <li>Bruker Jinja2-motor som sin innebygde templatemotor for å 
                    generer HTML dokumenter dynamisk </li>
                <li>Bygger på Werkzeug, et verktøy for å håndtere HTTP-forespørsler</li>
            </ul>
        </div>
        <div class="info-box">
            <h2> Grunnleggende om Flask</h2>
            <p>
                Flask er et rammeverk for webutvikling med python. Det regnes som et
                lettvekts rammeverk. Flask kan derfor i stor grad tilpasses til det enkelte 
                prosjekt ved å legge til moduler utifra dette prosjektets behov.
                
            </p>
        </div>
    </div>



{% endblock %}