{% extends "base.html" %}
{% block content %}

    <div class="key-info-box">
        <h2>Nøkkelinformasjon</h2>
        <ul>
            <li>Navn: Morten Leegaard</li>
            <li>Alder: 31 år</li>
            <li>Jobb: Spesialarbeider - Kongsberg Automotiv</li>
        </ul>
    </div>
    
    <div class="info-container">
        <div class="info-box">
            <h2>Om meg</h2>
            <p>
                Jeg bor i Holmestrand. 
                Der jobber jeg 100% som spesialarbeider ved Kongsberg Automotiv 
                og studerer første året datateknikk(nettbasert) ved UiT. 
            </p>
            <p>
                På fritiden vedlikeholder og seiler jeg min seilbåt. 
            </p>
        </div>
        
        <div class="info-box">
            <h2>Tidligere erfaring med progrmmering</h2>
            <p> 
                Før jeg begynte på datateknikk hadde jeg gjennomført et nettkurs (CS50). 
                Dette kurset innehold bare grunnleggende programmering. 
                Jeg har derfor ingen erfaring med utvikling av databaser eller webapplikasjoner
                i forkant av dette emne.
            </p>
        </div>
    </div>
{% endblock %}